<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nowhere.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <nowhere.Properties.Settings>
            <setting name="wellness" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="attitude" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="reputation" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="noah" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="hordiculture" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sexy" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="smart" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="bibe" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="hunger" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="money" serializeAs="String">
                <value>$420</value>
            </setting>
        </nowhere.Properties.Settings>
    </userSettings>
</configuration>